# Feature Engineering for Electronics Recommendation System

This notebook creates and validates engineered features from cleaned electronics data.
These features are later used by content-based and ranking-based recommendation models.

In [11]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from src.components.feature_engineering import create_features
df = pd.read_csv("../data/processed/cleaned_products.csv")
df.head()

   user_id    product_id    category    brand   price  rating  purchase_count
0     2633  ELECTRO_1133      laptop   xiaomi   37710       3               9
1      631  ELECTRO_6595  smartwatch   xiaomi   79501       2               6
2     1261  ELECTRO_4275  smartwatch     sony  143595       4               2
3     2513  ELECTRO_8026  headphones    apple   31493       1               8
4     1894  ELECTRO_8453      mobile  samsung    7471       1               5

In [12]:
df=create_features(df)
df.head()

,user_id,product_id,category,brand,price,rating,purchase_count,text_feature,rating_norm,purchase_norm,value_for_money,value_norm
0,2633,ELECTRO_1133,laptop,xiaomi,37710,3,9,laptop xiaomi,0.50,0.9,0.000080,0.007542
1,631,ELECTRO_6595,smartwatch,xiaomi,79501,2,6,smartwatch xiaomi,0.25,0.6,0.000025,0.001913
2,1261,ELECTRO_4275,smartwatch,sony,143595,4,2,smartwatch sony,0.75,0.2,0.000028,0.002192
3,2513,ELECTRO_8026,headphones,apple,31493,1,8,headphones apple,0.00,0.8,0.000032,0.002596
4,1894,ELECTRO_8453,mobile,samsung,7471,1,5,mobile samsung,0.00,0.5,0.000134,0.013160

In [14]:
scaler = StandardScaler()
ohe = OneHotEncoder(sparse_output=False)

### Final Feature Set (CHECK)

In [16]:
df[['product_id', 'text_feature', 'purchase_norm', 'price_norm']].head()

     product_id       text_feature  purchase_norm  price_norm
0  ELECTRO_1133      laptop xiaomi            0.9   -0.865378
1  ELECTRO_6595  smartwatch xiaomi            0.6    0.101795
2  ELECTRO_4275    smartwatch sony            0.2    1.585128
3  ELECTRO_8026   headphones apple            0.8   -1.009259
4  ELECTRO_8453     mobile samsung            0.5   -1.565202

In [17]:
df.to_csv("../data/processed/featured_products.csv", index=False)

## Feature Engineering Summary

In this notebook, raw electronics product attributes were transformed into
structured features that capture relevance, quality, popularity, and affordability.
These engineered features serve as the foundation for all recommendation models
implemented in the next stage of the project.